/node_modules
/package-lock.json
# Ignore all files in CypressAutomation folder
cypress/e2e/CypressAutomation/*
# Ignore all files in Assign folder
cypress/e2e/Assign/*
# Ignore specific fixture files
cypress/fixtures/Logincred.json
cypress/fixtures/Logindatadriven.json
cypress/fixtures/profile.json
cypress/fixtures/users.json